
@{
    ViewBag.Title = "MVC15 Filters Using";
}

<h2>MVC15 Filters Using</h2>

<p>
    MVC de uygulamaya yapılacak istekler için hazır filtreler bulunmaktadır.
    <br />
    Bununla beraber kendi filtrelerimizi de oluşturabilmekteyiz.
</p>

<a href="/MVC15FiltersUsing/FiltreKullanimi">Filtre Kullanimi</a>

<p>
    Kullanıcı : @TempData["Kullanici"]
</p>